* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #region Common*/
body {}

.container {
  margin: 0 auto;
  padding: 1rem 0;
  width: 80%;
}

/* #endregion Common*/

/* #region Header*/
.menu {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

nav {
  a {
    text-decoration: none;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    color: black;
  }

}

.logo {
  width: 75px;
}

/* #endregion Header*/


/* #region Main*/
main {
  background-color: #1c1c1c;
  color: white;
}

/* #endregion Main*/

/* #region Footer*/
footer {}

/* #endregion Footer*/