/*#region Palette*/

:root {
  --rdc-primary: #0282f9;
  --rdc-secondary: #303030;
  --rdc-bg: #1c1c1c;
}


/*#endregion Palette*/

/* #region Common*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.flex {
  display: flex;
  ;
  align-items: center;
  justify-content: space-between;
}

/* #endregion Common*/

/* #region Header*/
.menu {

  text-align: center;
}

.logo {
  width: 75px;
}

/*#region Navigation menu*/
nav {
  gap: 2rem;

  a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    border-bottom: 3px solid transparent;
    padding-bottom: 5px;
    display: inline-block;
  }

}

.selected {
  color: var(--rdc-primary);
  border-bottom-color: var(--rdc-primary);
}

/*#endregion Navigation menu*/

/* #endregion Header*/


/* #region Main*/
main {
  background-color: var(--rdc-bg);
  color: white;
}

/* #endregion Main*/

/* #region Footer*/
footer {}

/* #endregion Footer*/