/*#region Palette*/

:root {
  --rdc-primary: #0282f9;
  --rdc-secondary: #303030;
  --rdc-bg: #1c1c1c;
}


/*#endregion Palette*/

/* #region Common*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--rdc-secondary);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  width: calc(100% / 5);
  padding: 1rem;
}

.flex-container {
  display: flex;
}

/* #endregion Common*/

/* #region Header*/

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 1rem 0;
}

header .flex-container {
  justify-content: space-between;
}

/*#region Navigation menu*/
.nav {
  gap: 1rem;
  align-items: center;

  & a {
    padding: 7% 0;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    bottom: -1px;
    border-bottom: thick solid transparent;
  }
}

.nav a.selected {
  border-bottom: thick solid var(--rdc-primary);
  color: var(--rdc-primary);
}

/*#endregion Navigation menu*/

/* #endregion Header*/


/* #region Main*/
main {
  background-color: var(--rdc-bg);
  color: white;
  padding: 3rem 0;
}

/* #endregion Main*/

/* #region Footer*/
footer {

  .container {
    background-color: var(--rdc-primary);
  }

  #buyRow {
    background-color: var(--rdc-primary);
    padding: 2rem;

    img {
      height: 40px;
    }

    .cardsSpan {
      text-transform: uppercase;
      color: white;
      font-size: 14px;
    }
  }

  #bottomJumbo {
    background-image: url(/img/footer-bg.jpg);
    min-height: 200px;
  }

  #signUpRow {
    background-color: var(--rdc-secondary);
    padding: 1rem;

    .row {
      justify-content: space-between;
      align-items: center;
    }

    .col {
      width: calc(100% / 2);
    }

    #signUp {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: white;
      border: 3px solid;
      padding: 1rem;
      border-color: var(--rdc-primary);
    }

    #followUs {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: bold;
      color: var(--rdc-primary);
    }


    .follow {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

  }

}

/* #endregion Footer*/